<div class="w-screen h-screen page-container grid place-items-center">
  <div class="greeting-container grid place-items-center">
    <img class="max-w-xs rounded-full border-solid border-8 border-white" src="https://avatars1.githubusercontent.com/u/24988127?s=460&u=eda1b193658e000ea37580cc0ff97b14a5dafa0c&v=4" alt="Sunset in the mountains">
    <div class="text-center text-white">
      <p class="font-bold text-5xl m-4">Hi, I am Indrajeet 👋</p>
      <p class="uppercase text-2xl mt-16">I <span class="animate-pulse">❤</span> Tailwind CSS</p>
    </div>
  </div>
</div>
